html{
    scroll-behavior: smooth;
}
h1{
    text-align: center;
}
.profile{
    margin-left: 38%;
    padding-top: 100px;
    width: 400px;
    border-radius: 60%;
}
#name{
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px 3px gray;
}
#class{
    text-align: center;
    color: gray;
}
#contect{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(242, 69, 69);
    text-shadow: 2px 2px 5px black;

}
.logo{
    margin-left: 32%; 
      
}
a{
    padding: 35px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.733);
    height: 100px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.bar{
    width: 200px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.449);
    background-color: blue;
    margin-top: 35px;
}
.bar a{
    text-decoration: none;
}
#text{
    color: aliceblue;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
#about{
    font-family: helvetica;
    font-size: 25px;
}
.navbar2{
    margin-left: 25%;
    /* height: 100px; */
}
.title{
    margin-top: 100px;
    font-family: helvetica;
    color: rgb(242, 69, 69);
    text-shadow: 2px 2px 5px black;
}
#hobbies{
    font-family: helvetica;
    font-size: 25px;
    margin-left: 40%;
}
.hob{
    margin-right: 70%;
    color: rgb(242, 69, 69);
    text-shadow: 2px 2px 5px black;
}

.bar:hover{
    background-color: gold;
}
#skill{
    font-family: helvetica;
    font-size: 25px;
    margin-left: 40%;
}

#achievements{
    font-family: helvetica;
    font-size: 25px;
    margin-left: 30%;
}

.achieve{
    margin-right: 35%;
    color: rgb(242, 69, 69);
    text-shadow: 2px 2px 5px black;
}
#u{
    color: rgb(242, 69, 69);
    text-shadow: 2px 2px 5px black;
}


h3{
    text-align: center;
    margin-top: -25px;
    margin-bottom: 25px;
}
